@model Cumulative_Project_1.Models.Teacher

@{
    ViewBag.Title = "DeleteConfirm";
}

<nav id="t-back">
    <a class="navlink" href="/Teacher/Show/@Model.TeacherId">Return to Teacher</a>
</nav>
<div id="delete-msg">
    <h2 id="d-head">Are you sure you want to delete @Model.TeacherFname @Model.TeacherLname?</h2>
    <p id="d-msg">This teacher will be permanently deleted from the database.</p>
</div>
<form method="POST" action="/Teacher/Delete/@Model.TeacherId" id="b-nav">
    <button id="d-button">Confirm Delete</button>
</form>
