@model IEnumerable<Cumulative_Project_1.Models.Teacher>

@{
    ViewBag.Title = "List";
}
<main>
<h2>Teachers List</h2>

<nav id="t-back">
    <a class="navlink" href="/Teacher/New">Create New Teacher</a>
</nav>

<div class="center">
    <h3>Search</h3>
    <form action="/Teacher/List" method="GET">
        <div>
            <input type="text" name="SearchKey" />
        </div>
        <!--<div>
            <label for="SearchKeyR">Salary Range Between</label>
            <input type="number" id="min"/>
            <input type="number" id="max"/>

        </div> -->
        <div id="s-button">
            <input type="submit" value="Search" class="button" />
        </div>
    </form>
    <div style="font-style:italic;">@Model.Count() Result(s) found</div>
</div>
@{
    foreach (var Teacher in Model)
    {
        <div id="t-list">
            <h3><a href="/Teacher/Show/@Teacher.TeacherId">@Teacher.TeacherFname @Teacher.TeacherLname</a></h3>
        </div>

    }
}
</main>

