@model IEnumerable<Cumulative_Project_1.Models.Teacher>

@{
    ViewBag.Title = "List";
}
<main>
<h2>Teachers</h2>
<div class="center">
    <h3>Search</h3>
    <form action="/Teacher/List" method="GET">
        <div>
            <input type="text" name="SearchKey" />
        </div>
        <div>
            <label for="SearchKeyR">Salary Range (between 40 - 80)</label>
            <input type="range" name="SearchKeyR" min="40" max="80" id="range" />
        </div>
        <input type="submit" value="Search" class="button" />
    </form>
    <div style="font-style:italic;">@Model.Count() Result(s) found</div>
</div>
@{
    foreach (var Teacher in Model)
    {
        <div id="t-list">
            <h3><a href="/Teacher/Show/@Teacher.TeacherId">@Teacher.TeacherName</a></h3>
            <p><div class="upper">@Teacher.ClassCode</div> @Teacher.ClassName</p>
        </div>

    }
}
</main>

