
@{
    ViewBag.Title = "New";
}

<h2>New Teacher</h2>
    <form method="POST" action="/Teacher/Create" id="new-form" onsubmit="return formSubmit();">
        <div>
            <div>
                <label for="TeacherFname">First Name:</label>
                <input type="text" name="TeacherFname" id="TeacherFname" />
            </div>
            <div>
                <label for="TeacherLname">Last Name:</label>
                <input type="text" name="TeacherLname" id="TeacherLname" />
            </div>
            <div>
                <label for="EmployeeNumber">Employee Number:</label>
                <input type="text" name="EmployeeNumber" id="EmployeeNumber"/>
            </div>
            <div>
                <label for="HireDate">Hire Date:</label>
                <input type="datetime" name="HireDate" id="HireDate"/>
            </div>
            <div>
                <label for="TeacherSalary">Salary:</label>
                <input type="number" name="TeacherSalary" id="TeacherSalary" />
            </div>
            <div>
                <input type="submit" value="Create Teacher" />
            </div>
        </div>
    </form>

    <script>
        function formSubmit() {
            var fName = document.getElementById('TeacherFname').value;
            var lName = document.getElementById('TeacherLname').value;
            var eNum = document.getElementById('EmployeeNumber').value;
            var eNumRegEx = /^\w\d{4}$/;
            var hdate = document.getElementById('HireDate').value;
            var tSalary = document.getElementById('TeacherSalary').value;
            var tSalRegEx = /^\d*\.?\d*$/;
  

            if (fName == "") { alert("Please enter the Teacher's First Name."); return false; }
            if (lName == "") { alert("Please enter the Teacher's Last Name."); return false; }
            if (eNum == "") { alert("Employee Number is required."); return false; }
            else if (eNum == !eNumRegEx.test(eNum)) { alert("Employee number is invalid."); return false; }
            if (hdate == "") { alert("Hire Date is required."); return false; }
            if (tSalary == "") { alert("Teacher Salary is required."); return false; }
            else if (tSalary == !tSalRegEx.test(tSalary)) { alert("Salary is invalid. (Enter two decimal places)"); return false; }

            else return true;

        }
    </script>