body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h2 {
    color: cadetblue;
    text-align: center;
    margin-top: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 3em;
}
.center {
    width: 40%;
    margin: 0 auto;
    border: 1px solid black;
    text-align: center;
    padding-bottom: 1.5em;
    font-size: 1.2em;
}

a {
    color: #a25d5d;
}
    a:hover {
        font-size: 1.1em;
        color: #659a88;
    }
.button {
    font-size: 1.1em;
    background-color: #699;
    padding: 0.3em 1em;
    color: black;
}
    .button:hover {
        background-color: #a25d5d;
    }
#range {
    width:100%;
    margin-left: auto;
    margin-right: auto;
}
#t-list {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 0.5em 0.5em;
}
.upper {
    text-transform: uppercase;
    font-weight: bold;
}
#t-class {
    padding: 1em 1em;
    font-size: 1.1em;
}
.t-font {
    color: #324d4d;
}

.dellink:hover {
    color: red;
}
#d-head {
    color: black;
    font-size: 1.8em;
}
#d-msg {
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
    padding-bottom: 1.5em;
}
#inner-delete {
    border: 1px black solid;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 2em;
}
#b-nav {
    width: 25%;
    margin: 0 auto;
}
#t-back {
    padding: 2em;
    text-align: center;
    font-size: 1.2em;
}
#t-nav {
    padding: 2em;
    text-align: center;
    font-size: 1.2em;
}
#t-nav a {
    padding-right: 3em;
}
#d-button:hover {
    background-color: #ec5800;
    color: white;
}
#s-button {
    padding-top: 1em;
    padding-bottom: 0.5em;
}
#new-form {
    margin: 0 auto;
    border: 1px solid black;
    width: 60%;
}
#inner-form {
    width: 50%;
    margin: 0 auto;
    text-align: right;
    padding-bottom: 1.5em;
    padding-top: 2em;
}
#inner-form label {
    padding-top: 0.5em;
}
#c-button {
    width:15%;
    margin: 0 auto;
    padding-bottom: 2em;
    font-size: 1.1em;
}
#top-nav {
    background-color: #699;
    border: none;
}
#top-b a {
    color: black;
    font-size: 1.5em;
}
#top-b a:hover {
    text-decoration: underline;
}
#top-a a {
    color: black;
    font-size: 2em;
}
#top-a a:hover {
    text-decoration: underline;
}