body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h2 {
    color: cadetblue;
    text-align: center;
}
.center {
    width: 40%;
    margin: 0 auto;
    border: 1px solid black;
    text-align: center;
    padding-bottom: 1.5em;
}

a {
    color: chocolate;
}
.button {
    font-size: 1em;
    background-color: cadetblue;
    padding: 0.3em 1em;
}
#range {
    width:100%;
    margin-left: auto;
    margin-right: auto;
}
#t-list {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 0.5em 0.5em;
}
.upper {
    text-transform: uppercase;
    font-weight: bold;
}
#t-class {
    padding: 1em 1em;
    font-size: 1.1em;
}
.t-font {
    color:crimson;
}

.dellink:hover {
    background-color: red;
    color:white;
    text-decoration: none;
    font-size: 1.2em;
}
#d-head {
    color: black;
    font-size: 1.8em;
}
#d-msg {
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
}
#delete-msg {
    padding-top: 1em;
}
#b-nav {
    width: 25%;
    margin: 0 auto;
}
#t-back {
    padding-top: 2em;
}
#d-button {
    border:none;
    color: red;
    border-radius: 10px;
    font-size: 1.2em;
    padding: 0.5em 1em;
}
#d-button:hover {
    background-color: red;
    color: white;
}
#s-button {
    padding-top: 1em;
    padding-bottom: 0.5em;
}
#new-form {
    width: 60%;
    margin: 0 auto;
    border: 1px solid black;
    text-align: center;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}
